<div class="container w-50">
  <h1>  New Cocktail </h1>

  <%= simple_form_for(@cocktail) do |f|%>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-primary mb-4' %>
  <% end %>

<%= link_to "Back", cocktails_path %>
</div>
