// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: $black;
  color: $light-gray;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://source.unsplash.com/featured/?cocktail");
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-info {
  padding: 120px;
  padding-left: 0px;
}

.banner-info {
  h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  em {
    color: white;
    font-size: 40px;
  }
}

.banner-info {
} p {
  color: white;
}

.wrapper {
  height: 100%;
  padding-bottom: 80px;
}

.empty {
  a {
    color: white;
  &:hover {
    text-decoration: none;
  }
  }
}

.wrapper {
  h1 {
    font-size: 100px;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
  }
}

.background-drink {
  background: #30475e;
}

.background-recommend {
  background: #2d1739;
}

.recommend {
  p {
    font-size: 24px;
    color: #818181;
  }
  h2 {
    font-size: 45px;
  }
}

#grow {
  flex-grow: 1;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
